body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /* background-color: hsl(232, 71%, 35%); */
    background: linear-gradient(360deg, rgb(245, 255, 245) 0%,#030354 60%);
    padding: 30px;
    text-align: center;
}

header h1 {
    margin: 10;
    color: #ffffff;


}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

main {
    padding: 50px;
}

section {
    margin-bottom: 10px;
}

/* footer {
    background-color: #ffcc00;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
} */